<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ColorGradualChangeDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E538C33C1C2A7DDA009A0A68</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E538C3551C2A7DDA009A0A68</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E538C3601C2A7DDA009A0A68</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
